.bs_main{
    max-width: 1000px;
    width: auto;
    background-color: lightblue;
    margin: 2px;
    padding: 1px;
    display: grid;
    grid-template-rows: 3;
    height: 230px;
}
.bs_selector{
    background-color: lightcoral;
    margin:auto;
    display:flex;
}
.bs_button{
    margin-left: 5px;
    margin-right: 5px;

}
.bs_body{
    background-color:lightgoldenrodyellow;

}