.characterComponent{
	background-color: lightcyan;
	padding: 5px;
	margin: 2px;
}
.gridContainer{
	background-color: lightskyblue;
	padding: 2px;
	margin: 2px;

	display: grid;
	grid-template-columns: repeat(3, 1fr);

}
.gridObject{
	background-color: lightgrey;
	padding: 2px;
	margin: 2px;
}
.gridTitle{
	font-weight: bold;
	font-size: 1.1em;
}
.gridData{
	font-size: .9em;
}