.pointbuy_block {
    width: 500px;
    background-color: grey;
}
.pointbuy_menu{
    width: auto;
    background-color: lightgrey;
    text-align: center;
}
.pointbuy_stat{
    background-color: grey;
    display:flex;
    justify-content: center;
}
.pointbuy_text{
    width: 40px;
    margin-left:1px;
    margin-right:1px;
    background-color: lightgrey;
    text-align: right;

}
.pointbuy_value{
    width: 60px;
    text-align: center;
    margin-left:1px;
    margin-right:1px;
    background-color: lightgrey;
    
}